#article-card {
  background-color: #059ba8;
  font-size: 0.8rem;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

}
#article-body {
  display: flex;
}

.article-divider {
  border-top: 1px solid white;
}


