#keeperPictures {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#pictureLabel {
  cursor: pointer;
}

#modalHeader {
  background-color: #f68f24;
  color: white;
}
