#keeperPictures {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#pictureLabel {
  cursor: pointer;
}

#modalHeader {
  background-color: #f68f24;
  color: white;
}

#submitKeeperData {
  display: block;
  margin: 0 auto;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9a519;
  opacity: 0.1;
  z-index: 20;
  .overlay-spinner {

    left: 50%;
    top: 50%
  }
}
